.portfolio{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.portfolio>li{
    margin: 1rem 0;
}
.portfolio>li>a{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.portfolio>li>a:hover{
    text-decoration: underline;
}
.portfolio li .title{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: start;
}
.portfolio li .title.github::before{
    content:"";
    display: inline-block;
    height: 1rem;
    width:1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/github.svg');
    margin-right:.5rem ;
}
